{{ attach_library('news_section/news_section') }}
<div id="sections">
  {% for section in sections %}
    <a href="/news_section/{{ section.tid }}">
      <p>{{ section.name }}</p>
    </a>
  {% endfor %}
</div>
{# AJAX part #}
<div class="news" id="news_block">
</div>
{#AJAX part end#}