/* SAMPLE CSS FILE CONTENTS */
.social {
  display: inline-block;
}

.daily-photo {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.daily-photo img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}
