{{ attach_library('header_menu/header_menu') }}
<div class="header_menu">
  <a href="/homepage">
    MF
  </a>

  <div>
    <ul>
      <li class="header_bar">
        <a href="/term/16">
          SMART SHOPPING
        </a>
      </li>
      <li class="header_bar">
        <a href="/quizzes">
          QUIZZES
        </a>
      </li>
      <li class="header_bar">
        <a href="/lists">
          LISTS
        </a>
      </li>
      <li class="header_bar">
        <a href="/video">
          VIDEOS
        </a>
      </li>
      <li class="header_bar">
        <a href="/term/17">
          AMAZING FACTS
        </a>
      </li>
      <li class="header_bar">
        <a href="/">
          <span class="glyphicon glyphicon-shopping-cart"></span> SHOP
        </a>
      </li>
      <li class="header_bar">
        <a href="https://twitter.com/mental_floss">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="header_bar">
        <a href="https://www.facebook.com/mentalflossmagazine">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="header_bar">
        <a href="https://www.instagram.com/mental_floss">
          <i class="fa fa-instagram"></i>
        </a>
      </li>
      <li class="header_bar">
        <a href="https://www.youtube.com/user/MentalFlossVideo">
          <i class="fa fa-youtube"></i>
        </a>
      </li>
      <li>
        <div class="header_menu" id="menu_button">
          Menu
        </div>
      </li>
    </ul>
  </div>
</div>
  <div class="menu_items">
  {% for section_name, section in menu_items %}
    <div class="section_name">
      <h3>{{ section_name }}</h3>
      <ul class="menu_list">
        {% for item in section %}
          <li>
            <a href="/term/{{ item.tid }}">
              <p>{{ item.name }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
</div>


