{{ attach_library('footer_menu/footer_menu') }}

<div class="footer-section">
  <div class="column">
    <div>
      MENTAL FLOSS
    </div>
    <div>
      <a src="">ABOUT</a>
      <a src="">RSS</a>
      <a src="">CONTACT US</a>
      <a src="">SHOP</a>
    </div>
    <div>
      <h1></h1>
    </div>
    <div>
      <a src="">FLOOP8</a>
      <a src="">12UP</a>
      <a src="">90MIN</a>
    </div>
  </div>
  <div class="column">
    <div>
      <a href="https://youtube.com/">
        <i class="fa fa-youtube"></i>
      </a>
      <a href="https://www.instagram.com/">
        <i class="fa fa-instagram"></i>
      </a>
      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook"></i>
      </a>
      <a href="https://twitter.com/">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
    <div>
      <div>
        <p>Subscribe to our Newsletter</p>
      </div>
      <a src="/subscribe_form">
        <button class="button">SIGN UP NOW</button>
      </a>
    </div>
  </div>
</div>
