{{ attach_library('footer_floss/footer_floss') }}

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <h3>Further info</h3>
      <ul style="list-style: none;">
        <li><a href='/contact-us'>Contact Us</a></li>
        <li><a href='/faqs'>FAQs</a></li>
        <li><a href='/t-shirt-sizing'>T-Shirt Sizing</a></li>
        <li><a href='/shipping-returns'>Shipping & Returns</a></li>
        <li><a href='/security-privacy-policy'>Security & Privacy Policy</a></li>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3>Categories</h3>
      <ul style="list-style: none;">
        <a href="/clearance">
          <li>Clearance</li>
        </a>
        <a href="/apparel">
          <li>Apparel</li>
        </a>
        <a href="/hoodies">
          <li>Hoodies</li>
        </a>
        <a href="/books">
          <li>Books</li>
        </a>
        <a href="/home-and-office">
          <li>Home and Office</li>
        </a>
        <a href="/games">
        <li>Games and Puzzles</li>
        </a>
        <a href="/the-pi-life">
          <li>The Pi Life</li>
        </a>
      </ul>
    </div>
    <div class="col-sm-3">
      <h3>About Us</h3>
      <p>
        Looking for an eclectic mix of quirky and intelligent products? You’ve come to the right place.
        The mental_floss store has a great selection of t-shirts, gifts, games, and books for any
        knowledge junkie, from history buffs to bookworms to math geeks!
      </p>
    </div>
    <div class="col-sm-3">
      <h3>Connect with us</h3>
      <ul class="footer_menu">
        <li class="footer_bar">
          <a href="https://www.facebook.com/mentalflossmagazine">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="footer_bar">
          <a href="https://twitter.com/mental_floss">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="footer_bar">
          <a href="https://www.youtube.com/user/MentalFlossVideo">
            <i class="fa fa-youtube"></i>
          </a>
        </li>
        <li class="footer_bar">
          <a href="https://www.instagram.com/mental_floss">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <p>
      All prices are in USD. © 2019 Mental Floss Inc. All rights reserved. Mental Floss©
      is a registered trademark owned by Felix Dennis. | <a href="/sitemap"><span>Sitemap</span></a>
    </p>
  </div>
</div>


