.menu_items {
  display: none;
}

.menu_items-drop{
  display: block;
}

.header_menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header_menu li {
  float: left;
}

.header_menu a {
  float: left;
  display: inline-block;
  color: #111;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}

.header_menu a:hover {
  color: red;
}

.header_menu #menu-button {
  display: inline-block;
  float: left;
}